<section class="row justify-content-center">
  <div class="col-lg-8">
    <h2>Cadastro de Categoria</h2>
    <hr class="border">

    <mat-card class="p-2">
      <form [formGroup]="categoriaForm" (ngSubmit)="cadastrar()">
        <mat-card-header>
          <mat-card-title>Formulário de cadastro</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Título da categoria</mat-label>
            <input formControlName="titulo" matInput type="text">
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
          <a mat-stroked-button routerLink="/categorias">Voltar</a>
          <button type="submit" mat-flat-button class="ms-2 px-5">
            <mat-icon>check</mat-icon>
            Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
 </section>


